* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    scroll-behavior: smooth;
}





.navbar {
    display: flex;
    padding-top: 20px;
}



.navbar_img {
    width: max(40%, 60px);
    transition: ease-in-out 200ms;
}


.navbar_img:hover{
    scale: 150%;
    transition: ease-in-out 200ms;
}

.navbar_lien {
    padding: 0 50px 0 20px;
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-self: inherit;
    border-bottom: solid 1px black;
    margin-bottom: 90px;
}

.navbar_a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    padding: 20px 0 20px 0;
    transition: ease-in-out 200ms;
    white-space: nowrap;
    width: 20vw;
    margin-left: 3vw;
 
}

.navbar_a:hover {
    font-size: 2rem;
    transition: ease-in-out 200ms;
}

@media(max-width: 50rem) {
    #navbar_a_logo{
        display: none;
    }

    .navbar_lien{
        width: 100vw;
        max-height: 120px;
        display: flex;
        overflow-x: auto;
        
    }

    .navbar__lien::-webkit-scrollbar {
        width: 0;
    }

    .navbar_a {
        min-width: 110px;
        height: 110px;
        line-height: 110px;
        text-align: center;
        background-color: white;
        margin-right: 2px;
    }

    

    .navbar_img {
        width: 0;
        height: 0;
        
    }
}
.acceuil {
    /* background-color: green; */
    width: 90vw;
    height: 100%;
    display: block;
    margin: 30px auto 0 auto;
    padding: 20px;
}

.acceuil p{
    margin-top: 20px;
    font-size: 1.2rem;
    width: 40vw;
}
.fr{
    margin-top: 20px;
    font-size: 1.2rem;
    width: 40vw;
    display: block;
    margin-left: auto;
    text-align: end;
}
.acceuil img{
    width: 30vw;
    display: block;
    margin: 0 auto 0 auto;
    border-radius: 20px;
}

#hidden {
    overflow: hidden;
}

.acceuil_titre{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
}

.acceuil_titre_h1 {
    font-size: 8vw;
    font-family: "lobster";
    white-space: break-spaces;
    text-align: start;
    


}


.acceuil_titre_img{
    width: 22%;
    height: fit-content;
    
}


.acceuil_img {
    width: 40%;
    display: block;
    margin: 100px 70% 0 100px;
    border-radius: 15px;
}



.acceuil_img:nth-of-type(odd) {
    margin-left: 60%;
}


footer {
    background: linear-gradient(to top, #F7EBFD 0 90% , white);
    max-width: 100vw;
    padding: 50px 0 50px 0;
    margin-top: 100px;
}

.footer_element {
    /* background-color: gray; */
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5% 0 5%;
}



.footer_element iframe {
    width: 30vw;
    height: 200px;
    border-radius: 10px;
}
.footer_text {
    
    width: 50vw;
    display: block;
    margin: 0 auto 0 auto;
}

.footer_a {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
}
.footer_a:hover {
    text-decoration: underline;
    color: blueviolet;
}

@media (max-width: 50rem) {
    .footer_element {
        
        flex-direction: column;
        
    }
    .footer_element iframe {
        width: 90vw;
        display: block;
        margin: 0 auto 0 auto;
    }
    footer {
        padding: 50px 0 0 0;
    }
    
    .footer_text a{
        margin: 0 auto 50px auto;
        text-decoration: underline;
    }
}
/* TRANSITION */
.cont-bandes {
    width: 100%;
    height: 120vh;
    background: transparent;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
    /* background: #000; */
    z-index: 500;
}
.bande {
    width: 10%;
    height: 0%;
}
.bande:nth-child(even){
    background-image: url(sources/img/pochettes/pochette_2.jpeg);
    background-position: center;
}
.bande:nth-child(odd){
    background-image: url(sources/img/pochettes/pochette_3.jpeg);
    background-position: center;
}

.wipe-transition {
    width: 100vw;
    height: 100vh;
    background:linear-gradient(90deg, rgb(165, 165, 223),midnightblue) ;
    position: absolute;
    left: -200%;
}
/* TRANSITION */

/* GRIDITEM */
    
/* GRIDITEM */

/* POCHETTES */
.album {
    
    width: 20vw;
    padding: 10px;
    
    transition: ease-in-out 200ms;
}

.album_lien {
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 40px 20px 40px 20px;
    border-radius: 100px;
    transition: ease-in-out 200ms;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    margin: 50px 0 50px 0;
}

#myBtn0 {
    background-image: url(sources/img/pochettes/pochette_1.jpeg);
}
#myBtn1 {
    background-image: url(sources/img/pochettes/pochette_2.jpeg);
}
#myBtn2 {
    background-image: url(sources/img/pochettes/pochette_3.jpeg);
}
#myBtn3 {
    background-image: url(sources/img/pochettes/pochette_4.jpeg);
}
#myBtn4 {
    background-image: url(sources/img/pochettes/pochette_5.jpeg);
}

.album_img{
    
    width: 0;

}

.album_titre {
    font-size: 1.5rem;

}
.mobile_style {
    /* background: rgba(255, 27, 27, 0.466); */
    background: rgba(0, 0, 0, 0.514);
    width: fit-content;
    padding: 0 5px 0 5px;
}
.album_genre {
    font-style: oblique;
}


@media (min-width: 50rem) {
    .album_lien:hover{
        border: solid violet;
        transition: ease-in-out 200ms;
        border-radius: 20px;
        scale: 105%;
    }
    .grid {
        max-width: 100vw;
        max-height: fit-content;
        display: grid;
        grid-template-columns: repeat(auto-fill, 20vw);
        justify-content: center;
        /*grid-gap: 10px; (dans l'exemple mais VSC ne le reconnait pas)*/
        grid-gap: 10%;
        align-content: center;
        padding: 5% 0 5% 0;
        margin-top: 30px;
        
    }
    .album_lien {
        text-decoration: none;
        color: black;
        width: 20vw;
        padding: 10px;
        border-radius: 10px;
        transition: ease-in-out 200ms;
        cursor: pointer;
        background: none;
    }
    .album_img{
        width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .mobile_style {
        background: none;
        width: fit-content;
        padding: 0;
        margin-top: 5px;
    }
    #myBtn0 {
        background-image: none;
    }
    #myBtn1 {
        background-image: none;
    }
    #myBtn2 {
        background-image: none;
    }
    #myBtn3 {
        background-image: none;
    }
    #myBtn4 {
        background-image: none;
    }
}
/* POCHETTES */

/* modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 28vw;
    border-radius: 10px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  
  /* MODAL */

  /* MODAL CONTENT */
.wich_plateforme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.plateformex2{
    display: flex;
    flex-direction: row;
}
.plateforme{
    display: flex;
    flex-direction: column;
    border: solid violet 3px;
    border-radius: 10px;
    margin: 0 10% 0 10%;
    text-decoration: none;
    padding: 10px;
    width: 50%;
    margin-top: 10%;
}
.plateforme:hover{
    background-color: black;
    color: white;
}
.plateforme_img{
    width: 50%;
    display: block;
    margin: 0 auto 0 auto;
}
.plateforme_p{
    
    display: block;
    margin: 10% auto 0 auto;
}
@media (max-width: 50rem) {
    .modal-content {
        width: 90vw;
    }
    .plateformex2 {
        justify-content: space-between;
    }
    .plateforme_p {
        display: none;
    }
    .plateforme_img {
        width: 90%;
    }
    .plateforme:hover{
        background-color: none;
    }
  }

  /* MODAL CONTENT */


  /* acceuil plateforme */
  .acceuil_plateforme{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90vw;   
  }

  .boutton {
      display: block;
      margin: 0 auto 0 auto;
      width: fit-content;
  }

  .boutton svg:hover {
    width: 4vw;
    transition: 500ms;
}
  .boutton svg {
      display: block;
        margin: -110% auto 0 auto;
    rotate: -90deg;
    width: 2.5vw;
    transition: 500ms;
  }
  .acceuil_plateforme_h3 {
      margin-top: 200px;
    font-size: 3rem;
    text-align: center;
    font-family: "lobster";
    font-family: 'Passion One', cursive;
  }
  .acceuil_plateforme_div_img{
      display: flex;
      flex-direction: row;
      
    margin: 50px 20% 0 20%;
      
      justify-content: space-between;
      
  }

  .acceuil_plateforme_div_img img{
      width: 25vw;
      display: block;
      margin: 0 auto 0 auto;
  }

  .acceuil_plateforme_btn{
      width: 20vw;
      background: linear-gradient(white, pink);
      border-radius: 20px;
  }

  .acceuil_plateforme_btn img{
    width: fit-content;
  }

  /* BOUTTON HOME */

  .btnall{
      position: relative;
      display: inline-flex;
      padding: 10px 30px;
      border-radius: 30px;
      
      text-decoration: none;
      letter-spacing: 1px;
      overflow: hidden;
      height: fit-content;
    }

  .btnall img{
    position: relative;
    z-index: 1;
    width: 10vw;
    /* height: fit-content; */
    transition: 500ms;
    }

    .btn_test3 img{
        position: relative;
    z-index: 1;
    width: 10vw;
    /* height: fit-content; */
    transition: 500ms;
    padding: 20px;
    }

/* BOUTTON HOME */


#btn_plateforme_bas {
    margin: 10px 25% 0 25%;
}
  /* acceuil plateforme */


  @media(max-width: 50rem) {
    .acceuil_titre_h1 {
        font-size: 15vw;
    }
    .boutton svg {
        display: none;
    }

    .boutton svg:hover {
        display: none;
    }
    .acceuil {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 95vw;
        padding: 0;
    }
    
    header {
        max-height: 150px;
        
    }

    .acceuil_plateforme{
        height: 100vh;
        /* background-image: url(sources/img/home/version_mobile.png); */
        background-size: 100%;
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        
        
    }
    .acceuil_plateforme h3{
        margin-top: auto;
        
        
    }
    .acceuil_plateforme_div_img {
        flex-direction: column;
        height: 39vh;
        justify-content: space-around;
    }
    
    #mediaqueris_hidden{
        display: none;
    }
 
    
    
    .btnall img{
        background-color: black;
        
        border-radius: 10px;
        width: 70%;
        padding: 5px;
    }
    .btn_test3 img{
        background-color: black;
        
        border-radius: 10px;
        width: 70%;

        padding: 10px;
    }
    
    .scriptbtn {
        display: none;
     }

     #btn_plateforme_bas {
        margin: 10px 20% 0 20%;
    }
     
}

@media (min-width: 50rem) {
    .btnall::before{
        content: '';
        position: absolute;
        top: var(--y);
        left: var(--x);
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        border-radius: 50%;
        background: black;
        transition: width 0.5s, height 0.5s;
    }

    .btnall img:hover{
        position: relative;
        z-index: 1;
        width: 12vw;
        /* height: fit-content; */
        transition: 500ms;
      }
    
      
    
      .btnall:hover::before{
          width: 200%;
          height: 200%;
      }
}